[package]
name = "pact-stub-server"
version = "0.2.3"
authors = ["Ronald Holshausen <uglyog@gmail.com>"]
description = "Standalone pact stub server"
homepage = "http://www.pact.io"
repository = "https://github.com/uglyog/pact-stub-server"
readme = "README.md"
keywords = ["testing", "pact", "cdc"]
license = "MIT"
exclude = [
    "*.iml"
]

[dependencies]
clap = "2.31"
serde = "1.0.11"
serde_json = "1.0.2"
pact_matching = "0.5.0"
simplelog = "0.4.0"
log = "0.3.5"
maplit = "0.1.3"
itertools = "0.5.1"
native-tls = "0.2"
hyper-tls = "0.3.0"
hyper = "0.12"
http = "0.1.10"
tokio = "0.1.8"
base64 = "0.9.2"
regex = "1.1"

[dev-dependencies]
quickcheck = "0.2"
expectest = "0.5.1"
rand = "0.6"
